.rtitle {
    position: relative;
    float: left;
    padding-top: 5px!important;
    padding: 10px;
    font-weight: 900!important;
    font-size: 1.5em;
}

.rlabel {
    float: left;
    background-color: lightgrey;
    padding: 20px;
    font-size: 1.5em;
    color: gray;
}

.rnavig {
    padding-left: 30px;
    width: 10em;
}
.rnavig li {
    position: relative;
    float: left;
    width: 33%;
}

.rresultfilter {
    position: fixed; 
    float:right;
    padding-top:10px;
    bottom:30px;
    padding-left: 30px;
}

